body {
  background-image: url('../img/water.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px navy;
}

h1 {
  color: darkblue;
  text-align: center;
  text-shadow: 2px 2px white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: rgb(149, 42, 175);
}

h3 {
  color: cornflowerblue;
  
}

ul {
  color: rgb(17, 65, 207);
  font-size: 25px;
  
}

ol {
  color: green;
}

table {
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 10%;
}

p {
  color: purple;
  font-weight: bold;
  
}

a {
  text-shadow: none;
  font-weight: bold;
  color: palevioletred;
}